#index-banner{
  width: 100%;
  min-height: 80vh;
}
.card img{
  max-height: 300px;
  width: auto !important;
}
@media (min-width: 768px){
  #modal1 .card-image{
    margin-top: 100%;
  }
}
.card .row {
  padding: 20px;
}
.card {
    background-color: #f7f7f7;
}
h6 {
    font-size: 1.3rem;
}
.header{
      margin-top: 25%;
}
@media (max-width: 768px){
  .card img {
    max-width: 20%;
    margin: 0 0 10% 33%;
  }
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #b71c1c;
}
.collection .collection-item.active {
    background-color: #b71c1c;
    color: #eafaf9;
}
.red-text.text-darken-4 {
    color: #B71C1C !important;
    text-shadow: 1px 1px 1px white;
}
.modal {
    width: 70%;
}
.img-logo{
    max-width: 75%;
    height: auto;
    margin-top: 7.5px;
}
nav .brand-logo {
    width: 25%;
}
